    <section class="hero">
        <div class="container">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <div class="heading">
                        <h2><strong>TRANSFORM YOUR PLAY</strong></h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At iste soluta illo culpa aspernatur. Ab neque laborum ipsam fuga. Nulla, nobis suscipit eum enim odit perspiciatis quas obcaecati necessitatibus at</p>
                    <button class="button" onclick = "window.location.href='https://w3docs.com';">
                        <i class="far fa-play-circle" aria-hidden="true">
                            Get Started     
                        </i>
                    </button>
                </div>
            </div>       
        </div>
    </section> 

    <section class="slider-wrapper mb-5" style="overflow: hidden;">
        <div class="container">
            <div class="heading">
                <h2>LEARNING TRACKS</h2>
            </div>
        </div>

        <div class="slider-row" style="width: 2000px; margin-left: -100px;">
            <div class="slider-card">
                <div class="card-poster card-poster-one text-light">
                    <div class="tag">
                        Fifa 2019
                    </div>
                    <img class="poster-image img-fluid rounded-circle" src="image-two.jpeg" alt="Card image cap">
                    <div class="badge">
                        Difficult
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="heading">Card title</h4>
                    <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>       
            </div>

            <div class="slider-card">
                <div class="card-poster card-poster-two text-light">
                    <div class="tag">
                        Fifa 2019
                    </div>
                    <img class="poster-image img-fluid rounded-circle" src="assets/image-one.jpeg" alt="Card image cap">
                    <div class="badge">
                       Difficult
                   </div>
                </div>
                <div class="card-content">
                    <h4 class="heading">Card title</h4>
                    <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>       
            </div>

            <div class="slider-card">
                <div class="card-poster card-poster-three text-light">
                    <div class="tag">
                        Fifa 2019
                    </div>
                    <img class="poster-image img-fluid rounded-circle" src="assets/image-three.jpeg" alt="Card image cap">
                    <div class="badge">
                        Difficult
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="heading">Card title</h4>
                    <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>       
            </div>
        </div>

        <div class="slider-row" style="width: 2000px; margin-left: 20px;">
            <div class="slider-card">
                <div class="card-poster card-poster-four text-light">
                    <div class="tag">
                        Fifa 2019
                    </div>
                    <img class="poster-image img-fluid rounded-circle" src="assets/image-four.jpeg" alt="Card image cap">
                    <div class="badge">
                        Difficult
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="heading">Card title</h4>
                    <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>       
            </div>

            <div class="slider-card">
                <div class="card-poster card-poster-one text-light">
                   <div class="tag">
                        Fifa 2019
                    </div>
                    <img class="poster-image img-fluid rounded-circle" src="assets/image-five.jpeg" alt="Card image cap">
                    <div class="badge">
                        Difficult
                    </div>
                </div>
                 <div class="card-content">
                     <h4 class="heading">Card title</h4>
                     <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <div class="footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                     </div>
                 </div>       
            </div>

            <div class="slider-card">
                <div class="card-poster card-poster-two text-light">
                    <div class="tag">
                        Fifa 2019
                    </div>
                    <img class="poster-image img-fluid rounded-circle" src="assets/image-six.jpeg" alt="Card image cap">
                    <div class="badge">
                        Difficult
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="heading">Card title</h4>
                    <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>       
            </div>
        </div>
    </section>

    <section class="trainer-card-wrapper mb-5">
        <div class="container">
            <div class="heading">
                <h2>FEATURED TRAINERS</h2>
            </div> 

            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-10 offset-lg-0 offset-sm-1 mb-5">
                    <div class="trainer-card">
                        <div class="trainer-name text-light">
                            <h5 class="mb-3 py-2">KAYLA</h5>
                        </div>
                        <div class="clip-polygon">
                            <img class="trainer-image" src="assets/kayla.jpg" alt="Smiley face" width="138" height="138">
                        </div>
                        <svg class="clip-svg">
                            <defs>
                                <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                                    <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
                                </clipPath>
                            </defs>
                        </svg>  
                        <div class="trainer-card-text">
                            <div class="text-bordered">
                                <small><strong>10</strong> lessons</small><br>
                                <small><strong>5</strong> hours video</small><br>
                                <small><strong>2</strong> weeks of training</small><br>
                            </div>
                            <small><strong>1</strong> finished program</small>
                        </div>
                        <button class="watch-now">WATCH NOW</button>
                   </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-10 offset-lg-0 offset-sm-1 mb-5">
                    <div class="trainer-card">
                        <div class="trainer-name text-light">
                            <h5 class="mb-3 py-2">JANE</h5>
                        </div>
                        <div class="clip-polygon">
                            <img class="trainer-image" src="assets/narges.jpg" alt="Smiley face" width="138" height="138">
                        </div>
                        <svg class="clip-svg">
                            <defs>
                                <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                                    <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
                                </clipPath>
                            </defs>
                        </svg>  
                        <div class="trainer-card-text">
                            <div class="text-bordered">
                                <small><strong>10</strong> lessons</small><br>
                                <small><strong>5</strong> hours video</small><br>
                                <small><strong>2</strong> weeks of training</small><br>
                            </div>
                            <small><strong>1</strong> finished program</small><br>
                            <button class="watch-now">WATCH NOW</button>
                        </div>
                   </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-10 offset-lg-0 offset-sm-1 mb-5">
                    <div class="trainer-card">
                        <div class="trainer-name text-light">
                            <h5 class="mb-3 py-2">DAVID</h5>
                        </div>
                        <div class="clip-polygon">
                            <img class="trainer-image" src="assets/david.jpg" alt="Smiley face" width="138" height="138">
                        </div>
                        <svg class="clip-svg">
                            <defs>
                                <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                                    <polygon points="50% 0%, 100% 24%, 100% 75%, 50% 100%, 0% 75%, 0% 25%" />
                                </clipPath>
                            </defs>
                        </svg>  
                        <div class="trainer-card-text">
                            <div class="text-bordered">
                                <small><strong>10</strong> lessons</small><br>
                                <small><strong>5</strong> hours video</small><br>
                                <small><strong>2</strong> weeks of training</small><br>
                            </div>
                            <small><strong>1</strong> finished program</small><br>
                            <button class="watch-now">WATCH NOW</button>
                        </div>
                   </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-10 offset-lg-0 offset-sm-1 mb-5">
                    <div class="trainer-card">
                        <div class="trainer-name text-light">
                            <h5 class="mb-3 py-2">JENIFFER</h5>
                        </div>
                        <div class="clip-polygon">
                           <img class="trainer-image" src="assets/jeniffer.jpg" alt="Smiley face" width="138" height="138">
                        </div>
                        <svg class="clip-svg">
                            <defs>
                                <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                                    <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
                                </clipPath>
                            </defs>
                        </svg>  
                        <div class="trainer-card-text">
                            <div class="text-bordered">
                                <small><strong>10</strong> lessons</small><br>
                                <small><strong>5</strong> hours video</small><br>
                                <small><strong>2</strong> weeks of training</small><br>
                            </div>
                            <small><strong>1</strong> finished program</small><br>
                            <button class="watch-now">WATCH NOW</button>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
   
    <section class="testimonial-wrapper mb-5">
        <div class="container">
            <h2 class="text-center heading mb-5">More than 1000 people passed our online training</h2>               
            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                           
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->         
                    <div class="carousel-item active">
                        <div class="row">  
                            <div class="col-md-6 mb-5 testimonial">
                                <div class="clip-border">
                                    <div class="clip-polygon">
                                        <img class="testimonial-image" src="assets/david.jpg" alt="smily face" width="100" height="100">
                                    </div>
                                </div> 
                                <svg class="clip-svg">
                                    <defs>
                                        <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                                            <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
                                        </clipPath>
                                    </defs>
                                </svg> 
                                <div class="testimonial-text text-justify">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eaque id explicabo quidem quam tenetur quas, iure consectetur, facilis at excepturi. 
                                </div>
                            </div>

                            <div class="col-md-6 mb-5 testimonial">
                                <div class="clip-border">
                                    <div class="clip-polygon">
                                        <img class="testimonial-image" src="assets/jane.jpg" alt="smily face" width="100" height="100">
                                    </div>
                                </div>        
                                <svg class="clip-svg">
                                    <defs>
                                        <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                                            <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
                                        </clipPath>
                                    </defs>
                                </svg> 
                                <div class="testimonial-text text-justify">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eaque id explicabo quidem quam tenetur quas, iure consectetur, facilis at excepturi, tempore animi perferendis culpa asperiores voluptas vel nesciunt. 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.First slide-->
                    
                    <!--Second slide-->                
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6 mb-5 testimonial">
                                <div class="clip-border">
                                    <div class="clip-polygon">
                                        <img class="testimonial-image" src="assets/kayla.jpg" alt="smily face" width="100" height="100">
                                    </div>
                                </div>        
                                <svg class="clip-svg">
                                    <defs>
                                        <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                                            <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
                                        </clipPath>
                                    </defs>
                                </svg> 
                                <div class="testimonial-text text-justify">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eaque id explicabo quidem quam tenetur quas, iure consectetur, facilis at excepturi, tempore animi perferendis culpa asperiores voluptas vel nesciunt. 
                                </div>
                            </div>

                            <div class="col-md-6 mb-5 testimonial">
                                <div class="clip-border">
                                    <div class="clip-polygon">
                                        <img class="testimonial-image" src="assets/narges.jpg" alt="smily face" width="100" height="100">
                                    </div>
                                </div>        
                                <svg class="clip-svg">
                                    <defs>
                                        <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                                            <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
                                        </clipPath>
                                    </defs>
                                </svg> 
                                <div class="testimonial-text text-justify">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eaque id explicabo quidem quam tenetur quas, iure consectetur, facilis at excepturi, tempore animi perferendis culpa asperiores voluptas vel nesciunt. 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Second slide-->
                </div>
                <!--/.Slides-->
                
                <!--control-arrows-->
                <div class="text-center mb-5">
                    <a class="control-arrow" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left mr-5"></i></a>
                    <a class="control-arrow" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>     
                </div>
                <!--/.control-arrows-->
                
            </div> 
            <!--/.Carousel Wrapper-->             
        </div>     
    </section>
  
    